
.postList {
    list-style-type: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
}
.homePostImage {
    width: 99%;
    max-width: 490px;
    margin: 1%;
    
    
}
ul{
    padding: 0 !important;
}
